QComboBox#PageComboBox {
    color: #BABABA;
    border: none;
    background: #222226;
    combobox-popup: 0;
    font: normal normal normal 15px Roboto;
    padding: 0px 30px 0px 10px; 
    min-height: 28px;
    max-height: 28px;
}

QComboBox#PageComboBox:on, 
QComboBox#PageComboBox:focus {
    border: none;
    padding: 0px 30px 0px 10px;
}

QComboBox#PageComboBox QAbstractItemView {
   background-color: #222226;
   font: normal normal normal 15px Roboto;
   color: #BABABA;
   selection-background-color: #333339;
   selection-color: #FAFAFA;
   outline: none;
   border: 1px solid #222226; 
}
QComboBox#PageComboBox::drop-down {
   subcontrol-origin: padding;
   subcontrol-position: top right;
   width: 20px;
   border: none;
   background: transparent;
}
QComboBox#PageComboBox::down-arrow {
   image: url(:/icons/less_information.svg);
   width: 12px;
   height: 12px;
}
QComboBox#PageComboBox::down-arrow:on {
   image: url(:/icons/more_information2.svg);
}
