QTabWidget::pane {
    border-left: none; 
    border-top: 1px solid #1E1E22;
    border-right: none;
    border-bottom: none;
    background-color: transparent;
    font: normal normal normal 15px/18px Roboto;
    letter-spacing: 0px;
    color: #C2C2C2;
}

QTabBar::tab {
    background-color: transparent;
    font: normal normal normal 15px/18px Roboto;
    color: #BABABA; 
    border: none;
    padding: 8px 20px; 
    min-width: 100px; 
}

QTabBar::tab:selected {
    color: #6F8CB7; 
    border-bottom: 2px solid #6F8CB7;
}

QTextEdit#EditArea {
    border-radius: 2px;
    border: 1px solid transparent;
    background-color: #222226;
    color: #C2C2C2;
    font: normal normal normal 15px/18px Roboto;
}

QCheckBox {
    color: #C2C2C2;
    font: normal normal normal 15px/18px Roboto;
    spacing: 10px;
}

QCheckBox::indicator:disabled {
    background-color: #28282B;
    border: 1px solid #3D3D41;
}

QCheckBox::indicator {
    border: 1px solid #4E4E57;
    background-color: #222226;
    width: 18px;
    height: 18px;
}

QLineEdit {
    background: #222226;
    color: #C2C2C2;
    border: 1px solid #444;
}

QCheckBox::indicator:hover  {
    border: 1px solid #5B5B66;
}
QCheckBox::indicator:checked {
    image: url(:/icons/checkbox_active.svg);
}

QCheckBox::indicator:checked:hover {
    image: url(:/icons/checkbox_active_hover.svg);
}