QComboBox {
    color: #BABABA;
    border: none;
    background: #222226;
    combobox-popup: 0;
    font: normal normal normal 15/18px Roboto;
    padding-left: 10px;
    height: 28px;
}

QComboBox QAbstractItemView {
   background-color: #222226;
   font: normal normal normal 15/18px Roboto;
   color: #BABABA;
   selection-background-color: #222226;
   selection-color: #FAFAFA;
   outline: none;
   border: none;
}
QComboBox::drop-down {
   subcontrol-origin: padding;
   subcontrol-position: top right;
   width: 20px;
   border: none;
   background: transparent;
}
QComboBox::down-arrow {
   image: url(:/icons/arrow-down.png);
   width: 12px;
   height: 12px;
}
QComboBox::down-arrow:on {
   top: 1px;
   image: url(:/icons/arrow-up.png);
}